<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>


    <servlet>
        <servlet-name>chat</servlet-name>
        <servlet-class>by.bsu.famcs.servlets.ChatServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>userinfo</servlet-name>
        <jsp-file>/userinfo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>by.bsu.famcs.servlets.AuthenticationServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userinfo</servlet-name>
        <url-pattern>/userinfo.jsp</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>chat</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
